html {
	font-size: 62.5%;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.clearfix::before, .clearfix::after {
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}

body {
	height: 100%;
	font-family: Georgia, 'Source Han Sans CN', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #3A4145;
	background: #ECF0F1;
}

a {
	text-decoration: none;
	color: #2c3e50;
	-webkit-transition:color 0.36s;
	transition:color 0.36s;
}
a:hover {
	color: #0D8;
}