.main {
  /* for including position fixed header */
  padding-top: 15.6rem;
  /* for sticky footer */
  min-height: calc(100% - 7.5rem);
}

.operate-area {
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 2rem 0.66rem;
  width: 66%;
  height: 22.46rem;
  font-size: 2rem;
  word-wrap: break-word;
  background-color: #fff;
  overflow: scroll;
}

h2 {
  margin-top: 1rem;
}

.add-area {
  display: -webkit-box;
  display: -ms-flexbox;
  /* use flexbox */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

#input {
  display: inline-block;
  width: 70%;
  font-size: 1.68rem;
  height: 2.7rem;
  padding: 0.36rem;
  margin-right: 1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075);
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, .075);
}

button {
  cursor: pointer;
  padding: 0.8rem 0;
  font-size: 1.56rem;
  line-height: 1;
  width: 10rem;
  border-radius: 0.6rem;
  color: #fff;
  background-color: #164;
  -webkit-transition: background-color 0.66s;
  transition: background-color 0.66s;
}

button:hover {
  background-color: #0D8;
}

ul {
  overflow: scroll;
  list-style: none;
  margin: 3.6rem auto 1rem;
  padding: 2rem;
  width: 66%;
  background-color: #fff;
}

li {
  cursor: pointer;
  padding: 1.2rem 0.8rem 1.2rem 4rem;
  background: #eee;
  font-size: 1.66rem;
  /* position: relative for .close */
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li:hover {
  background: #ddd;
}

li span {
  font-size: 1.88rem;
  font-weight: bold;
}

/* use different colors when odd */
li:nth-child(odd) {
  background: #f9f9f9;
}

/* when finished, add line-through decoration */
li.finished {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
/* add check mark for finished li */
li.finished::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0.1rem 0.1rem 0;
  top: 1.5rem;
  left: 1.6rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1.5rem;
  width: 0.7rem;
}

li.aphorism {
  cursor: default;
  font-size: 2rem;
  text-align: center;
  color: #456;
  font-style: italic;
}

/* li's close symbol style */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem
}
.close:hover {
  background-color: #0D8;
  color: #fff;
}
