header {
  /* use fixed position */
  position: fixed;
  top: 0;
  z-index: 100;
  height: 3.8rem;
  width: 100%;
  padding-bottom: 11.8rem;
  color: white;
  background-color: #456;
	line-height: 3.8rem;
}

/* header nav */

nav a {
	font-size: 1.66rem;
	color: white;
	border-radius: 0.6rem;
	-webkit-transition: background-color 0.66s;
	transition: background-color 0.66s;
}

nav a:hover {
	background-color: var(--light-color);
	color: white;
}

/* 3 element in nav，use float */

.design {
	float: left;
	margin-left: 5%;
}

.about {
	float: left;
	margin-left: 3%;
}

.subscribe {
	float: right;
	/* use calc because of the github ribbion(position absolute element) */
	margin-right: calc(6rem + 8%);
}

.github-corner {
	top: calc((3.8rem - 43px) / 2);
}

.github-corner svg {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: -0.36rem;
	border: 0;
	right: 5%;
}

/* header title */

.page-title {
	margin-left: auto;
	margin-right: auto;
	font-family: "STFangsong", "Songti TC", "simsun", Arial, serif;
	font-weight: bold;
	text-align: center;
	background-color: white;
	height: 8rem;
}

.page-title a {
	line-height: 8rem;
	font-size: 5rem;
	-webkit-transition: color 0.88s;
	transition: color 0.88s;
}