:root {
	height: 100%;
	max-height: 100%;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix::before, .clearfix::after {
	display: table;
	content: " ";
}

.clearfix::after {
	clear: both;
}

body {
	height: 100%;
	max-height: 100%;
	font-family: Georgia, 'Source Han Sans CN', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #3A4145;
	background: #ECF0F1;
	font-weight: normal;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}

header {
	height: 3.8rem;
	line-height: 3.8rem;
	background-color: #456;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

h2 {
  margin-top: 1rem;
} 

header .inner a {
	text-decoration: none;
	color: #fff;
	border-radius: 0.6rem;
	transition:background-color 0.66s;
	-moz-transition:background-color 0.66s; /* Firefox 4 */
	-webkit-transition:background-color 0.66s; /* Safari and Chrome */
	-o-transition:background-color 0.66s; /* Opera */
}
header .inner a:hover {
	background-color: #0D8;
}

header .inner .nav-item{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-size: 1.66rem;
	white-space: nowrap;
	margin: 0 2rem;
}
header .inner .about {
  margin-right: 56rem;
}
header .inner .subscribe {
	margin-right: 15rem;
	float: right;
}

.page-title {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-family: "STFangsong","Songti TC","simsun",Arial,serif;
  background-color: #fff;
	height: 8rem;
	-webkit-animation: fade-in-down 0.6s;
	animation: fade-in-down 0.6s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	text-align: center;
}

.page-title a {
	line-height: 8rem;
	font-size: 5rem;
	color: #2C3E50;
  text-decoration: none;
	overflow: hidden;
	transition:color .88s;
	-moz-transition:color .88s; /* Firefox 4 */
	-webkit-transition:color .88s; /* Safari and Chrome */
	-o-transition:color .88s; /* Opera */
}

.page-title a:hover {
	color: #0D8;
}

footer {
	margin-top: 2rem;
	padding: 1rem 3.6rem 1.6rem 1rem;
	line-height: 1.4;
}
footer a {
	text-decoration: none;
	color: #2C3E50;
}
footer a:hover {
	color: #0D8;
}
span {
	color: #0D8;
	padding-left: 0.6rem;
}