:root {
	font-size: 62.5%;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
	height: calc(100% - 15.6rem); /* 减去 header */
	font-family: Georgia, 'Source Han Sans CN', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #3A4145;
	background: #ECF0F1;
}

header {
	height: 3.8rem;
	line-height: 3.8rem;
	background-color: #456;
	color: #fff;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

a {
	text-decoration: none;
	color: #2c3e50;
	-webkit-transition:color 0.36s;
	transition:color 0.36s;
}
a:hover {
	color: #0D8;
}

nav a {
	font-size: 1.66rem;
	color: #fff;
	border-radius: 0.6rem;
	-webkit-transition:background-color 0.66s;
	transition:background-color 0.66s;
}
nav a:hover {
	background-color: #0D8;
	color: #fff;
}

/* 导航栏上三个元素的位置设置 */
.design {
	float: left;
	margin-left: 5%;
}
.about {
	float: left;
	margin-left: 3%;
}
.subscribe {
	float: right;
	margin-right: calc(8rem + 8%);
}

.page-title {
	margin-left: auto;
	margin-right: auto;
	font-family: "STFangsong","Songti TC","simsun",Arial,serif;
	font-weight: bold;
	text-align: center;
  background-color: #fff;
	height: 8rem;
}

.page-title a {
	line-height: 8rem;
	font-size: 5rem;
	-webkit-transition:color 0.88s;
	transition:color 0.88s;
}

footer {
	height: 7.5rem;
	padding: 1rem 3.6rem 1.6rem 1rem;
	line-height: 1.5;
}

.clearfix::before, .clearfix::after {
	display: table;
	content: " ";
}
.clearfix::after {
	clear: both;
}
