@media (max-width: 415px) { 
	.operate-area {
		height: 25.46rem;
	}

	#input {
		width: 110%;
	}

	#add {
    width: 6rem;
    margin-right: 0;
	}

  .buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

	button {
    font-size: 1.36rem;
    margin-right: 0;
    width: 48%;
	}

  #showClearDone {
    width: 100%;
  }

  .operate-area, ul{
    width: 86%;
  }

	.subscribe {
		margin-right: 9rem;
  }
  
  li {
    padding-left: 1rem;
  }

  li.aphorism {
    font-size: 1.8rem;
  }
}