@media (max-width: 415px) { 
  header {
    padding-bottom: 9.8rem;
  }
  
  .page-title {
    height: 6rem;
  }
  .page-title a {
    font-weight: normal;
    line-height: 6rem;
    font-size: 3.6rem;
  }

  main {
    padding-top: 12.6rem;
  }
  
	.operate-area {
		height: 25.46rem;
	}

  .add-area {
    margin-bottom: 1.2rem;
  }

	#input {
		width: 110%;
	}

	#add {
    width: 6rem;
    margin-right: 0;
	}

  .buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

	button {
    font-size: 1.36rem;
    margin-right: 0;
    margin-top: 0.5rem;
    width: 48%;
	}

  #showAll {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .operate-area, ul{
    width: 86%;
  }

	.subscribe {
		margin-right: 8rem;
  }
  
  .github-corner svg {
    right: .5rem;
  }

  li {
    padding-left: 1rem;
  }

  li.aphorism {
    font-size: 1.8rem;
  }
}