html {
	height: 100%;
	max-height: 100%;
	font-size: 10px;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	height: 100%;
	max-height: 100%;
	font-family: Georgia, 'Source Han Sans CN', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #3A4145;
	background: #ECF0F1;
	font-weight: normal;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
}

h2 {
  margin-top: 10px;
} 

.main-nav {
    height: 3.8rem;
    line-height: 3.8rem;
    background-color: #456;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.main-nav .inner a {
	text-decoration: none;
	color: #fff;
	transition:background-color .66s;
	-moz-transition:background-color .66s; /* Firefox 4 */
	-webkit-transition:background-color .66s; /* Safari and Chrome */
	-o-transition:background-color .66s; /* Opera */
}
.main-nav .inner a:hover {
	background-color: #0D8;
	/* color: #0D8; */
}

.main-nav .inner .nav-item{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-size: 1.66rem;
	white-space: nowrap;
	margin: 0 2rem;
}
.main-nav .inner .about {
  margin-right: 56rem;
}
.main-nav .inner .subscribe {
	margin-right: 15rem;
	float: right;
}

.page-title {
	margin:0 auto;
	font-size: 5rem;
	font-weight: 700;
	font-family: "STFangsong","Songti TC","simsun",Arial,serif;
	color: #2C3E50;
  background-color: #fff;
	height: 8rem;
	line-height: 8rem;
	-webkit-animation: fade-in-down 0.6s;
	animation: fade-in-down 0.6s;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	text-align: center;
}


.page-title a {
  margin: 0 auto;
  color: #2C3E50 !important;
  text-decoration: none;
	overflow: hidden;
	transition:color .88s;
	-moz-transition:color .88s; /* Firefox 4 */
	-webkit-transition:color .88s; /* Safari and Chrome */
	-o-transition:color .88s; /* Opera */
}

.page-title a:hover {
	color: #0D8 !important;
}

footer {
    padding: 1rem 3.6rem 1.6rem 1rem;
    line-height: 1.4;
    box-sizing: border-box;
    overflow: hidden;
    position:relative;
    top: 5.6rem;
    right: -6rem;
  }
footer a {
    text-decoration: none;
    color: #2C3E50 !important;
}
footer a:hover {
	color: #0D8 !important;
}
span {
    color: #0D8 !important;
}
